.search-result-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5vh;
}

.search-result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1vh 1vw;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #E5E5E5;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.search-result-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6vh 4vw;
}

.search-result-card-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vh;
    height: 18vh;
    background-color: #F6F4F6;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
}

.search-result-card-description {
    color: #263238;
}

.search-result-card-actions {
    display: flex;
    justify-content: space-around;
    padding: 2vh 0;
    background-color: #FFFFFF;
    border-top: 1px solid #E4E4E4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-result-card-button {
    display: flex;
    min-width: 7vw;
    align-items: center;
    background-color: transparent;
    color: #263238;
    border: none;
    cursor: pointer;
}

.search-result-card-span {
    opacity: 0.52;
    margin-left: 1vw;
}

.divider {
    border-bottom: 1px solid #F6F4F6;
}